.experience ul:nth-of-type(1) {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.circle {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  position: absolute;
  z-index: -1;
  box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
}
.experience span:nth-of-type(1) {
  color: grey;
}
.experience span:nth-of-type(2) {
  color: orange;
}
.experience>* {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.achievement>* {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
